@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffdc45;
  --foreground: #ff8827;
  --primary-foreground: #fff8dc;
  --text-primary: #ffdc45;
  --text-secondary: #fff8dc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffdc45;
    --foreground: #ff8827;
    --primary-foreground: #fff8dc;
    --text-primary: #ffdc45;
    --text-secondary: #fff8dc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.head {
  font-size: 3.5rem;
  color: var(--text-primary);
}
